.box-body {
  position: relative;
  width: 80%;
  margin: auto;
}

.container {
  position: relative;
  margin: auto;
  width: 40%;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  /* height: 600px; */
  /* font-family: "Google Sans", arial, sans-serif; */
}

.input-group {
  position: relative;
  width: fit-content;
}

.input-group .input-area {
  outline: none;
  border: 1.5px solid gainsboro;
  padding: 7px 11px;
  font-size: 16px;
  border-radius: 3px;
}

.input-group .input-area:focus {
  border: 1.5px solid royalblue;
  border-radius: 3px;
}

.input-group .input-area:focus + .label {
  top: -8px;
  padding: 0 3px;
  color: royalblue;
  font-size: 12px;
  background-color: white;
}

.input-group .input-area:valid + .label {
  top: -8px;
  padding: 0 3px;
  color: #8d8d8d;
  font-size: 12px;
  background-color: white;
}

.input-group .label {
  color: #5f6368;
  position: absolute;
  top: 6px;
  left: 12px;
  transition: 0.1s;
}

.full-name {
  position: relative;
  display: inline-flex;
  width: 100%;
  padding: 5px 0px;
}

.last-name {
  right: 0px;
  position: absolute;
}

.email-div > .input-group {
  width: 100%;
}

.email-div > .input-group > .input-area {
  width: 94.85%;
}

.footer {
  padding-top: 10px;
  position: relative;
  bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.blue-btn {
  background-color: #1a73e8;
  border-radius: 3px;
  color: white;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 88px;
  height: 36px;
  text-align: center;
}

.blue-btn-span {
  vertical-align: middle;
  font-weight: 600;
}

.blue-btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.sign-in-btn {
  width: fit-content;
  height: 36px;
  vertical-align: middle;
  border-radius: 2px;
  justify-content: center;
  padding: 0px 20px;
}

.sign-in-btn:hover {
  cursor: pointer;
  background-color: #e8f0fd;
  transition: 0.5s;
}

.sign-in-btn-span {
  vertical-align: middle;
  color: #3483ea;
  font-weight: 600;
}
